In [46]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

# reading data

In [47]:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [48]:
## reading different columns
print(df[['Name', 'Type 1', 'Type 2', 'HP']][0:5])

                    Name Type 1  Type 2  HP
0              Bulbasaur  Grass  Poison  45
1                Ivysaur  Grass  Poison  60
2               Venusaur  Grass  Poison  80
3  VenusaurMega Venusaur  Grass  Poison  80
4             Charmander   Fire     NaN  39

In [49]:
## reading each row
print(df.iloc[0:5])
print('-'*100)
print(df.iloc[3,1])

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]
----------------------------------------------------------------------------------------------------
VenusaurMega Venusaur

In [50]:
for index, row in df.iterrows():
    
    print(index, row[0:4])

0 #                 1
Name      Bulbasaur
Type 1        Grass
Type 2       Poison
Name: 0, dtype: object
1 #               2
Name      Ivysaur
Type 1      Grass
Type 2     Poison
Name: 1, dtype: object
2 #                3
Name      Venusaur
Type 1       Grass
Type 2      Poison
Name: 2, dtype: object
3 #                             3
Name      VenusaurMega Venusaur
Type 1                    Grass
Type 2                   Poison
Name: 3, dtype: object
4 #                  4
Name      Charmander
Type 1          Fire
Type 2           NaN
Name: 4, dtype: object
5 #                  5
Name      Charmeleon
Type 1          Fire
Type 2           NaN
Name: 5, dtype: object
6 #                 6
Name      Charizard
Type 1         Fire
Type 2       Flying
Name: 6, dtype: object
7 #                                 6
Name      CharizardMega Charizard X
Type 1                         Fire
Type 2                       Dragon
Name: 7, dtype: object
8 #                                 6
Name      CharizardMega Charizard Y
Type 1                         Fire
Type 2                       Flying
Name: 8, dtype: object
9 #                7
Name      Squirtle
Type 1       Water
Type 2         NaN
Name: 9, dtype: object
10 #                 8
Name      Wartortle
Type 1        Water
Type 2          NaN
Name: 10, dtype: object
11 #                 9
Name      Blastoise
Type 1        Water
Type 2          NaN
Name: 11, dtype: object
12 #                               9
Name      BlastoiseMega Blastoise
Type 1                      Water
Type 2                        NaN
Name: 12, dtype: object
13 #               10
Name      Caterpie
Type 1         Bug
Type 2         NaN
Name: 13, dtype: object
14 #              11
Name      Metapod
Type 1        Bug
Type 2        NaN
Name: 14, dtype: object
15 #                 12
Name      Butterfree
Type 1           Bug
Type 2        Flying
Name: 15, dtype: object
16 #             13
Name      Weedle
Type 1       Bug
Type 2    Poison
Name: 16, dtype: object
17 #             14
Name      Kakuna
Type 1       Bug
Type 2    Poison
Name: 17, dtype: object
18 #               15
Name      Beedrill
Type 1         Bug
Type 2      Poison
Name: 18, dtype: object
19 #                            15
Name      BeedrillMega Beedrill
Type 1                      Bug
Type 2                   Poison
Name: 19, dtype: object
20 #             16
Name      Pidgey
Type 1    Normal
Type 2    Flying
Name: 20, dtype: object
21 #                17
Name      Pidgeotto
Type 1       Normal
Type 2       Flying
Name: 21, dtype: object
22 #              18
Name      Pidgeot
Type 1     Normal
Type 2     Flying
Name: 22, dtype: object
23 #                          18
Name      PidgeotMega Pidgeot
Type 1                 Normal
Type 2                 Flying
Name: 23, dtype: object
24 #              19
Name      Rattata
Type 1     Normal
Type 2        NaN
Name: 24, dtype: object
25 #               20
Name      Raticate
Type 1      Normal
Type 2         NaN
Name: 25, dtype: object
26 #              21
Name      Spearow
Type 1     Normal
Type 2     Flying
Name: 26, dtype: object
27 #             22
Name      Fearow
Type 1    Normal
Type 2    Flying
Name: 27, dtype: object
28 #             23
Name       Ekans
Type 1    Poison
Type 2       NaN
Name: 28, dtype: object
29 #             24
Name       Arbok
Type 1    Poison
Type 2       NaN
Name: 29, dtype: object
30 #               25
Name       Pikachu
Type 1    Electric
Type 2         NaN
Name: 30, dtype: object
31 #               26
Name        Raichu
Type 1    Electric
Type 2         NaN
Name: 31, dtype: object
32 #                27
Name      Sandshrew
Type 1       Ground
Type 2          NaN
Name: 32, dtype: object
33 #                28
Name      Sandslash
Type 1       Ground
Type 2          NaN
Name: 33, dtype: object
34 #                       29
Name      Nidoran (Female)
Type 1              Poison
Type 2                 NaN
Name: 34, dtype: object
35 #               30
Name      Nidorina
Type 1      Poison
Type 2         NaN
Name: 35, dtype: object
36 #                31
Name      Nidoqueen
Type 1       Poison
Type 2       Ground
Name: 36, dtype: object
37 #                     32
Name      Nidoran (Male)
Type 1            Poison
Type 2               NaN
Name: 37, dtype: object
38 #               33
Name      Nidorino
Type 1      Poison
Type 2         NaN
Name: 38, dtype: object
39 #               34
Name      Nidoking
Type 1      Poison
Type 2      Ground
Name: 39, dtype: object
40 #               35
Name      Clefairy
Type 1       Fairy
Type 2         NaN
Name: 40, dtype: object
41 #               36
Name      Clefable
Type 1       Fairy
Type 2         NaN
Name: 41, dtype: object
42 #             37
Name      Vulpix
Type 1      Fire
Type 2       NaN
Name: 42, dtype: object
43 #                38
Name      Ninetales
Type 1         Fire
Type 2          NaN
Name: 43, dtype: object
44 #                 39
Name      Jigglypuff
Type 1        Normal
Type 2         Fairy
Name: 44, dtype: object
45 #                 40
Name      Wigglytuff
Type 1        Normal
Type 2         Fairy
Name: 45, dtype: object
46 #             41
Name       Zubat
Type 1    Poison
Type 2    Flying
Name: 46, dtype: object
47 #             42
Name      Golbat
Type 1    Poison
Type 2    Flying
Name: 47, dtype: object
48 #             43
Name      Oddish
Type 1     Grass
Type 2    Poison
Name: 48, dtype: object
49 #             44
Name       Gloom
Type 1     Grass
Type 2    Poison
Name: 49, dtype: object
50 #                45
Name      Vileplume
Type 1        Grass
Type 2       Poison
Name: 50, dtype: object
51 #            46
Name      Paras
Type 1      Bug
Type 2    Grass
Name: 51, dtype: object
52 #               47
Name      Parasect
Type 1         Bug
Type 2       Grass
Name: 52, dtype: object
53 #              48
Name      Venonat
Type 1        Bug
Type 2     Poison
Name: 53, dtype: object
54 #               49
Name      Venomoth
Type 1         Bug
Type 2      Poison
Name: 54, dtype: object
55 #              50
Name      Diglett
Type 1     Ground
Type 2        NaN
Name: 55, dtype: object
56 #              51
Name      Dugtrio
Type 1     Ground
Type 2        NaN
Name: 56, dtype: object
57 #             52
Name      Meowth
Type 1    Normal
Type 2       NaN
Name: 57, dtype: object
58 #              53
Name      Persian
Type 1     Normal
Type 2        NaN
Name: 58, dtype: object
59 #              54
Name      Psyduck
Type 1      Water
Type 2        NaN
Name: 59, dtype: object
60 #              55
Name      Golduck
Type 1      Water
Type 2        NaN
Name: 60, dtype: object
61 #               56
Name        Mankey
Type 1    Fighting
Type 2         NaN
Name: 61, dtype: object
62 #               57
Name      Primeape
Type 1    Fighting
Type 2         NaN
Name: 62, dtype: object
63 #                58
Name      Growlithe
Type 1         Fire
Type 2          NaN
Name: 63, dtype: object
64 #               59
Name      Arcanine
Type 1        Fire
Type 2         NaN
Name: 64, dtype: object
65 #              60
Name      Poliwag
Type 1      Water
Type 2        NaN
Name: 65, dtype: object
66 #                61
Name      Poliwhirl
Type 1        Water
Type 2          NaN
Name: 66, dtype: object
67 #                62
Name      Poliwrath
Type 1        Water
Type 2     Fighting
Name: 67, dtype: object
68 #              63
Name         Abra
Type 1    Psychic
Type 2        NaN
Name: 68, dtype: object
69 #              64
Name      Kadabra
Type 1    Psychic
Type 2        NaN
Name: 69, dtype: object
70 #               65
Name      Alakazam
Type 1     Psychic
Type 2         NaN
Name: 70, dtype: object
71 #                            65
Name      AlakazamMega Alakazam
Type 1                  Psychic
Type 2                      NaN
Name: 71, dtype: object
72 #               66
Name        Machop
Type 1    Fighting
Type 2         NaN
Name: 72, dtype: object
73 #               67
Name       Machoke
Type 1    Fighting
Type 2         NaN
Name: 73, dtype: object
74 #               68
Name       Machamp
Type 1    Fighting
Type 2         NaN
Name: 74, dtype: object
75 #                 69
Name      Bellsprout
Type 1         Grass
Type 2        Poison
Name: 75, dtype: object
76 #                 70
Name      Weepinbell
Type 1         Grass
Type 2        Poison
Name: 76, dtype: object
77 #                 71
Name      Victreebel
Type 1         Grass
Type 2        Poison
Name: 77, dtype: object
78 #                72
Name      Tentacool
Type 1        Water
Type 2       Poison
Name: 78, dtype: object
79 #                 73
Name      Tentacruel
Type 1         Water
Type 2        Poison
Name: 79, dtype: object
80 #              74
Name      Geodude
Type 1       Rock
Type 2     Ground
Name: 80, dtype: object
81 #               75
Name      Graveler
Type 1        Rock
Type 2      Ground
Name: 81, dtype: object
82 #             76
Name       Golem
Type 1      Rock
Type 2    Ground
Name: 82, dtype: object
83 #             77
Name      Ponyta
Type 1      Fire
Type 2       NaN
Name: 83, dtype: object
84 #               78
Name      Rapidash
Type 1        Fire
Type 2         NaN
Name: 84, dtype: object
85 #               79
Name      Slowpoke
Type 1       Water
Type 2     Psychic
Name: 85, dtype: object
86 #              80
Name      Slowbro
Type 1      Water
Type 2    Psychic
Name: 86, dtype: object
87 #                          80
Name      SlowbroMega Slowbro
Type 1                  Water
Type 2                Psychic
Name: 87, dtype: object
88 #                81
Name      Magnemite
Type 1     Electric
Type 2        Steel
Name: 88, dtype: object
89 #               82
Name      Magneton
Type 1    Electric
Type 2       Steel
Name: 89, dtype: object
90 #                 83
Name      Farfetch'd
Type 1        Normal
Type 2        Flying
Name: 90, dtype: object
91 #             84
Name       Doduo
Type 1    Normal
Type 2    Flying
Name: 91, dtype: object
92 #             85
Name      Dodrio
Type 1    Normal
Type 2    Flying
Name: 92, dtype: object
93 #            86
Name       Seel
Type 1    Water
Type 2      NaN
Name: 93, dtype: object
94 #              87
Name      Dewgong
Type 1      Water
Type 2        Ice
Name: 94, dtype: object
95 #             88
Name      Grimer
Type 1    Poison
Type 2       NaN
Name: 95, dtype: object
96 #             89
Name         Muk
Type 1    Poison
Type 2       NaN
Name: 96, dtype: object
97 #               90
Name      Shellder
Type 1       Water
Type 2         NaN
Name: 97, dtype: object
98 #               91
Name      Cloyster
Type 1       Water
Type 2         Ice
Name: 98, dtype: object
99 #             92
Name      Gastly
Type 1     Ghost
Type 2    Poison
Name: 99, dtype: object
100 #              93
Name      Haunter
Type 1      Ghost
Type 2     Poison
Name: 100, dtype: object
101 #             94
Name      Gengar
Type 1     Ghost
Type 2    Poison
Name: 101, dtype: object
102 #                        94
Name      GengarMega Gengar
Type 1                Ghost
Type 2               Poison
Name: 102, dtype: object
103 #             95
Name        Onix
Type 1      Rock
Type 2    Ground
Name: 103, dtype: object
104 #              96
Name      Drowzee
Type 1    Psychic
Type 2        NaN
Name: 104, dtype: object
105 #              97
Name        Hypno
Type 1    Psychic
Type 2        NaN
Name: 105, dtype: object
106 #             98
Name      Krabby
Type 1     Water
Type 2       NaN
Name: 106, dtype: object
107 #              99
Name      Kingler
Type 1      Water
Type 2        NaN
Name: 107, dtype: object
108 #              100
Name       Voltorb
Type 1    Electric
Type 2         NaN
Name: 108, dtype: object
109 #               101
Name      Electrode
Type 1     Electric
Type 2          NaN
Name: 109, dtype: object
110 #               102
Name      Exeggcute
Type 1        Grass
Type 2      Psychic
Name: 110, dtype: object
111 #               103
Name      Exeggutor
Type 1        Grass
Type 2      Psychic
Name: 111, dtype: object
112 #            104
Name      Cubone
Type 1    Ground
Type 2       NaN
Name: 112, dtype: object
113 #             105
Name      Marowak
Type 1     Ground
Type 2        NaN
Name: 113, dtype: object
114 #               106
Name      Hitmonlee
Type 1     Fighting
Type 2          NaN
Name: 114, dtype: object
115 #                107
Name      Hitmonchan
Type 1      Fighting
Type 2           NaN
Name: 115, dtype: object
116 #               108
Name      Lickitung
Type 1       Normal
Type 2          NaN
Name: 116, dtype: object
117 #             109
Name      Koffing
Type 1     Poison
Type 2        NaN
Name: 117, dtype: object
118 #             110
Name      Weezing
Type 1     Poison
Type 2        NaN
Name: 118, dtype: object
119 #             111
Name      Rhyhorn
Type 1     Ground
Type 2       Rock
Name: 119, dtype: object
120 #            112
Name      Rhydon
Type 1    Ground
Type 2      Rock
Name: 120, dtype: object
121 #             113
Name      Chansey
Type 1     Normal
Type 2        NaN
Name: 121, dtype: object
122 #             114
Name      Tangela
Type 1      Grass
Type 2        NaN
Name: 122, dtype: object
123 #                115
Name      Kangaskhan
Type 1        Normal
Type 2           NaN
Name: 123, dtype: object
124 #                               115
Name      KangaskhanMega Kangaskhan
Type 1                       Normal
Type 2                          NaN
Name: 124, dtype: object
125 #            116
Name      Horsea
Type 1     Water
Type 2       NaN
Name: 125, dtype: object
126 #            117
Name      Seadra
Type 1     Water
Type 2       NaN
Name: 126, dtype: object
127 #             118
Name      Goldeen
Type 1      Water
Type 2        NaN
Name: 127, dtype: object
128 #             119
Name      Seaking
Type 1      Water
Type 2        NaN
Name: 128, dtype: object
129 #            120
Name      Staryu
Type 1     Water
Type 2       NaN
Name: 129, dtype: object
130 #             121
Name      Starmie
Type 1      Water
Type 2    Psychic
Name: 130, dtype: object
131 #              122
Name      Mr. Mime
Type 1     Psychic
Type 2       Fairy
Name: 131, dtype: object
132 #             123
Name      Scyther
Type 1        Bug
Type 2     Flying
Name: 132, dtype: object
133 #             124
Name         Jynx
Type 1        Ice
Type 2    Psychic
Name: 133, dtype: object
134 #                125
Name      Electabuzz
Type 1      Electric
Type 2           NaN
Name: 134, dtype: object
135 #            126
Name      Magmar
Type 1      Fire
Type 2       NaN
Name: 135, dtype: object
136 #            127
Name      Pinsir
Type 1       Bug
Type 2       NaN
Name: 136, dtype: object
137 #                       127
Name      PinsirMega Pinsir
Type 1                  Bug
Type 2               Flying
Name: 137, dtype: object
138 #            128
Name      Tauros
Type 1    Normal
Type 2       NaN
Name: 138, dtype: object
139 #              129
Name      Magikarp
Type 1       Water
Type 2         NaN
Name: 139, dtype: object
140 #              130
Name      Gyarados
Type 1       Water
Type 2      Flying
Name: 140, dtype: object
141 #                           130
Name      GyaradosMega Gyarados
Type 1                    Water
Type 2                     Dark
Name: 141, dtype: object
142 #            131
Name      Lapras
Type 1     Water
Type 2       Ice
Name: 142, dtype: object
143 #            132
Name       Ditto
Type 1    Normal
Type 2       NaN
Name: 143, dtype: object
144 #            133
Name       Eevee
Type 1    Normal
Type 2       NaN
Name: 144, dtype: object
145 #              134
Name      Vaporeon
Type 1       Water
Type 2         NaN
Name: 145, dtype: object
146 #              135
Name       Jolteon
Type 1    Electric
Type 2         NaN
Name: 146, dtype: object
147 #             136
Name      Flareon
Type 1       Fire
Type 2        NaN
Name: 147, dtype: object
148 #             137
Name      Porygon
Type 1     Normal
Type 2        NaN
Name: 148, dtype: object
149 #             138
Name      Omanyte
Type 1       Rock
Type 2      Water
Name: 149, dtype: object
150 #             139
Name      Omastar
Type 1       Rock
Type 2      Water
Name: 150, dtype: object
151 #            140
Name      Kabuto
Type 1      Rock
Type 2     Water
Name: 151, dtype: object
152 #              141
Name      Kabutops
Type 1        Rock
Type 2       Water
Name: 152, dtype: object
153 #                142
Name      Aerodactyl
Type 1          Rock
Type 2        Flying
Name: 153, dtype: object
154 #                               142
Name      AerodactylMega Aerodactyl
Type 1                         Rock
Type 2                       Flying
Name: 154, dtype: object
155 #             143
Name      Snorlax
Type 1     Normal
Type 2        NaN
Name: 155, dtype: object
156 #              144
Name      Articuno
Type 1         Ice
Type 2      Flying
Name: 156, dtype: object
157 #              145
Name        Zapdos
Type 1    Electric
Type 2      Flying
Name: 157, dtype: object
158 #             146
Name      Moltres
Type 1       Fire
Type 2     Flying
Name: 158, dtype: object
159 #             147
Name      Dratini
Type 1     Dragon
Type 2        NaN
Name: 159, dtype: object
160 #               148
Name      Dragonair
Type 1       Dragon
Type 2          NaN
Name: 160, dtype: object
161 #               149
Name      Dragonite
Type 1       Dragon
Type 2       Flying
Name: 161, dtype: object
162 #             150
Name       Mewtwo
Type 1    Psychic
Type 2        NaN
Name: 162, dtype: object
163 #                         150
Name      MewtwoMega Mewtwo X
Type 1                Psychic
Type 2               Fighting
Name: 163, dtype: object
164 #                         150
Name      MewtwoMega Mewtwo Y
Type 1                Psychic
Type 2                    NaN
Name: 164, dtype: object
165 #             151
Name          Mew
Type 1    Psychic
Type 2        NaN
Name: 165, dtype: object
166 #               152
Name      Chikorita
Type 1        Grass
Type 2          NaN
Name: 166, dtype: object
167 #             153
Name      Bayleef
Type 1      Grass
Type 2        NaN
Name: 167, dtype: object
168 #              154
Name      Meganium
Type 1       Grass
Type 2         NaN
Name: 168, dtype: object
169 #               155
Name      Cyndaquil
Type 1         Fire
Type 2          NaN
Name: 169, dtype: object
170 #             156
Name      Quilava
Type 1       Fire
Type 2        NaN
Name: 170, dtype: object
171 #                157
Name      Typhlosion
Type 1          Fire
Type 2           NaN
Name: 171, dtype: object
172 #              158
Name      Totodile
Type 1       Water
Type 2         NaN
Name: 172, dtype: object
173 #              159
Name      Croconaw
Type 1       Water
Type 2         NaN
Name: 173, dtype: object
174 #                160
Name      Feraligatr
Type 1         Water
Type 2           NaN
Name: 174, dtype: object
175 #             161
Name      Sentret
Type 1     Normal
Type 2        NaN
Name: 175, dtype: object
176 #            162
Name      Furret
Type 1    Normal
Type 2       NaN
Name: 176, dtype: object
177 #              163
Name      Hoothoot
Type 1      Normal
Type 2      Flying
Name: 177, dtype: object
178 #             164
Name      Noctowl
Type 1     Normal
Type 2     Flying
Name: 178, dtype: object
179 #            165
Name      Ledyba
Type 1       Bug
Type 2    Flying
Name: 179, dtype: object
180 #            166
Name      Ledian
Type 1       Bug
Type 2    Flying
Name: 180, dtype: object
181 #              167
Name      Spinarak
Type 1         Bug
Type 2      Poison
Name: 181, dtype: object
182 #             168
Name      Ariados
Type 1        Bug
Type 2     Poison
Name: 182, dtype: object
183 #            169
Name      Crobat
Type 1    Poison
Type 2    Flying
Name: 183, dtype: object
184 #              170
Name      Chinchou
Type 1       Water
Type 2    Electric
Name: 184, dtype: object
185 #              171
Name       Lanturn
Type 1       Water
Type 2    Electric
Name: 185, dtype: object
186 #              172
Name         Pichu
Type 1    Electric
Type 2         NaN
Name: 186, dtype: object
187 #            173

278 #              257
Name      Blaziken
Type 1        Fire
Type 2    Fighting
Name: 278, dtype: object
279 #                           257
Name      BlazikenMega Blaziken
Type 1                     Fire
Type 2                 Fighting
Name: 279, dtype: object
280 #            258
Name      Mudkip
Type 1     Water
Type 2       NaN
Name: 280, dtype: object
281 #               259
Name      Marshtomp
Type 1        Water
Type 2       Ground
Name: 281, dtype: object
282 #              260
Name      Swampert
Type 1       Water
Type 2      Ground
Name: 282, dtype: object
283 #                           260
Name      SwampertMega Swampert
Type 1                    Water
Type 2                   Ground
Name: 283, dtype: object
284 #               261
Name      Poochyena
Type 1         Dark
Type 2          NaN
Name: 284, dtype: object
285 #               262
Name      Mightyena
Type 1         Dark
Type 2          NaN
Name: 285, dtype: object
286 #               263
Name      Zigzagoon
Type 1       Normal
Type 2          NaN
Name: 286, dtype: object
287 #             264
Name      Linoone
Type 1     Normal
Type 2        NaN
Name: 287, dtype: object
288 #             265
Name      Wurmple
Type 1        Bug
Type 2        NaN
Name: 288, dtype: object
289 #             266
Name      Silcoon
Type 1        Bug
Type 2        NaN
Name: 289, dtype: object
290 #               267
Name      Beautifly
Type 1          Bug
Type 2       Flying
Name: 290, dtype: object
291 #             268
Name      Cascoon
Type 1        Bug
Type 2        NaN
Name: 291, dtype: object
292 #            269
Name      Dustox
Type 1       Bug
Type 2    Poison
Name: 292, dtype: object
293 #           270
Name      Lotad
Type 1    Water
Type 2    Grass
Name: 293, dtype: object
294 #            271
Name      Lombre
Type 1     Water
Type 2     Grass
Name: 294, dtype: object
295 #              272
Name      Ludicolo
Type 1       Water
Type 2       Grass
Name: 295, dtype: object
296 #            273
Name      Seedot
Type 1     Grass
Type 2       NaN
Name: 296, dtype: object
297 #             274
Name      Nuzleaf
Type 1      Grass
Type 2       Dark
Name: 297, dtype: object
298 #             275
Name      Shiftry
Type 1      Grass
Type 2       Dark
Name: 298, dtype: object
299 #             276
Name      Taillow
Type 1     Normal
Type 2     Flying
Name: 299, dtype: object
300 #             277
Name      Swellow
Type 1     Normal
Type 2     Flying
Name: 300, dtype: object
301 #             278
Name      Wingull
Type 1      Water
Type 2     Flying
Name: 301, dtype: object
302 #              279
Name      Pelipper
Type 1       Water
Type 2      Flying
Name: 302, dtype: object
303 #             280
Name        Ralts
Type 1    Psychic
Type 2      Fairy
Name: 303, dtype: object
304 #             281
Name       Kirlia
Type 1    Psychic
Type 2      Fairy
Name: 304, dtype: object
305 #               282
Name      Gardevoir
Type 1      Psychic
Type 2        Fairy
Name: 305, dtype: object
306 #                             282
Name      GardevoirMega Gardevoir
Type 1                    Psychic
Type 2                      Fairy
Name: 306, dtype: object
307 #             283
Name      Surskit
Type 1        Bug
Type 2      Water
Name: 307, dtype: object
308 #                284
Name      Masquerain
Type 1           Bug
Type 2        Flying
Name: 308, dtype: object
309 #               285
Name      Shroomish
Type 1        Grass
Type 2          NaN
Name: 309, dtype: object
310 #              286
Name       Breloom
Type 1       Grass
Type 2    Fighting
Name: 310, dtype: object
311 #             287
Name      Slakoth
Type 1     Normal
Type 2        NaN
Name: 311, dtype: object
312 #              288
Name      Vigoroth
Type 1      Normal
Type 2         NaN
Name: 312, dtype: object
313 #             289
Name      Slaking
Type 1     Normal
Type 2        NaN
Name: 313, dtype: object
314 #             290
Name      Nincada
Type 1        Bug
Type 2     Ground
Name: 314, dtype: object
315 #             291
Name      Ninjask
Type 1        Bug
Type 2     Flying
Name: 315, dtype: object
316 #              292
Name      Shedinja
Type 1         Bug
Type 2       Ghost
Name: 316, dtype: object
317 #             293
Name      Whismur
Type 1     Normal
Type 2        NaN
Name: 317, dtype: object
318 #             294
Name      Loudred
Type 1     Normal
Type 2        NaN
Name: 318, dtype: object
319 #             295
Name      Exploud
Type 1     Normal
Type 2        NaN
Name: 319, dtype: object
320 #              296
Name      Makuhita
Type 1    Fighting
Type 2         NaN
Name: 320, dtype: object
321 #              297
Name      Hariyama
Type 1    Fighting
Type 2         NaN
Name: 321, dtype: object
322 #             298
Name      Azurill
Type 1     Normal
Type 2      Fairy
Name: 322, dtype: object
323 #              299
Name      Nosepass
Type 1        Rock
Type 2         NaN
Name: 323, dtype: object
324 #            300
Name      Skitty
Type 1    Normal
Type 2       NaN
Name: 324, dtype: object
325 #              301
Name      Delcatty
Type 1      Normal
Type 2         NaN
Name: 325, dtype: object
326 #             302
Name      Sableye
Type 1       Dark
Type 2      Ghost
Name: 326, dtype: object
327 #                         302
Name      SableyeMega Sableye
Type 1                   Dark
Type 2                  Ghost
Name: 327, dtype: object
328 #            303
Name      Mawile
Type 1     Steel
Type 2     Fairy
Name: 328, dtype: object
329 #                       303
Name      MawileMega Mawile
Type 1                Steel
Type 2                Fairy
Name: 329, dtype: object
330 #           304
Name       Aron
Type 1    Steel
Type 2     Rock
Name: 330, dtype: object
331 #            305
Name      Lairon
Type 1     Steel
Type 2      Rock
Name: 331, dtype: object
332 #            306
Name      Aggron
Type 1     Steel
Type 2      Rock
Name: 332, dtype: object
333 #                       306
Name      AggronMega Aggron
Type 1                Steel
Type 2                  NaN
Name: 333, dtype: object
334 #              307
Name      Meditite
Type 1    Fighting
Type 2     Psychic
Name: 334, dtype: object
335 #              308
Name      Medicham
Type 1    Fighting
Type 2     Psychic
Name: 335, dtype: object
336 #                           308
Name      MedichamMega Medicham
Type 1                 Fighting
Type 2                  Psychic
Name: 336, dtype: object
337 #               309
Name      Electrike
Type 1     Electric
Type 2          NaN
Name: 337, dtype: object
338 #               310
Name      Manectric
Type 1     Electric
Type 2          NaN
Name: 338, dtype: object
339 #                             310
Name      ManectricMega Manectric
Type 1                   Electric
Type 2                        NaN
Name: 339, dtype: object
340 #              311
Name        Plusle
Type 1    Electric
Type 2         NaN
Name: 340, dtype: object
341 #              312
Name         Minun
Type 1    Electric
Type 2         NaN
Name: 341, dtype: object
342 #             313
Name      Volbeat
Type 1        Bug
Type 2        NaN
Name: 342, dtype: object
343 #              314
Name      Illumise
Type 1         Bug
Type 2         NaN
Name: 343, dtype: object
344 #             315
Name      Roselia
Type 1      Grass
Type 2     Poison
Name: 344, dtype: object
345 #            316
Name      Gulpin
Type 1    Poison
Type 2       NaN
Name: 345, dtype: object
346 #            317
Name      Swalot
Type 1    Poison
Type 2       NaN
Name: 346, dtype: object
347 #              318
Name      Carvanha
Type 1       Water
Type 2        Dark
Name: 347, dtype: object
348 #              319
Name      Sharpedo
Type 1       Water
Type 2        Dark
Name: 348, dtype: object
349 #                           319
Name      SharpedoMega Sharpedo
Type 1                    Water
Type 2                     Dark
Name: 349, dtype: object
350 #             320
Name      Wailmer
Type 1      Water
Type 2        NaN
Name: 350, dtype: object
351 #             321
Name      Wailord
Type 1      Water
Type 2        NaN
Name: 351, dtype: object
352 #            322
Name       Numel
Type 1      Fire
Type 2    Ground
Name: 352, dtype: object
353 #              323
Name      Camerupt
Type 1        Fire
Type 2      Ground
Name: 353, dtype: object
354 #                           323
Name      CameruptMega Camerupt
Type 1                     Fire
Type 2                   Ground
Name: 354, dtype: object
355 #             324
Name      Torkoal
Type 1       Fire
Type 2        NaN
Name: 355, dtype: object
356 #             325
Name       Spoink
Type 1    Psychic
Type 2        NaN
Name: 356, dtype: object
357 #             326
Name      Grumpig
Type 1    Psychic
Type 2        NaN
Name: 357, dtype: object
358 #            327
Name      Spinda
Type 1    Normal
Type 2       NaN
Name: 358, dtype: object
359 #              328
Name      Trapinch
Type 1      Ground
Type 2         NaN
Name: 359, dtype: object
360 #             329
Name      Vibrava
Type 1     Ground
Type 2     Dragon
Name: 360, dtype: object
361 #            330
Name      Flygon
Type 1    Ground
Type 2    Dragon
Name: 361, dtype: object
362 #            331
Name      Cacnea
Type 1     Grass
Type 2       NaN
Name: 362, dtype: object
363 #              332
Name      Cacturne
Type 1       Grass
Type 2        Dark
Name: 363, dtype: object
364 #            333
Name      Swablu
Type 1    Normal
Type 2    Flying
Name: 364, dtype: object
365 #             334
Name      Altaria
Type 1     Dragon
Type 2     Flying
Name: 365, dtype: object
366 #                         334
Name      AltariaMega Altaria
Type 1                 Dragon
Type 2                  Fairy
Name: 366, dtype: object
367 #              335
Name      Zangoose
Type 1      Normal
Type 2         NaN
Name: 367, dtype: object
368 #             336
Name      Seviper
Type 1     Poison
Type 2        NaN
Name: 368, dtype: object
369 #              337
Name      Lunatone
Type 1        Rock
Type 2     Psychic
Name: 369, dtype: object
370 #             338
Name      Solrock
Type 1       Rock
Type 2    Psychic
Name: 370, dtype: object
371 #              339
Name      Barboach
Type 1       Water
Type 2      Ground
Name: 371, dtype: object
372 #              340
Name      Whiscash
Type 1       Water
Type 2      Ground
Name: 372, dtype: object
373 #              341
Name      Corphish
Type 1       Water
Type 2         NaN
Name: 373, dtype: object
374 #               342
Name      Crawdaunt
Type 1        Water
Type 2         Dark
Name: 374, dtype: object
375 #             343
Name       Baltoy
Type 1     Ground
Type 2    Psychic
Name: 375, dtype: object
376 #             344
Name      Claydol
Type 1     Ground
Type 2    Psychic
Name: 376, dtype: object
377 #            345
Name      Lileep
Type 1      Rock
Type 2     Grass
Name: 377, dtype: object
378 #             346
Name      Cradily
Type 1       Rock
Type 2      Grass
Name: 378, dtype: object
379 #             347
Name      Anorith
Type 1       Rock
Type 2        Bug
Name: 379, dtype: object
380 #             348
Name      Armaldo
Type 1       Rock
Type 2        Bug
Name: 380, dtype: object
381 #            349
Name      Feebas
Type 1     Water
Type 2       NaN
Name: 381, dtype: object
382 #             350
Name      Milotic
Type 1      Water
Type 2        NaN
Name: 382, dtype: object
383 #              351
Name      Castform
Type 1      Normal
Type 2         NaN
Name: 383, dtype: object
384 #             352
Name      Kecleon
Type 1     Normal
Type 2        NaN
Name: 384, dtype: object
385 #             353
Name      Shuppet
Type 1      Ghost
Type 2        NaN
Name: 385, dtype: object
386 #             354
Name      Banette
Type 1      Ghost
Type 2        NaN
Name: 386, dtype: object
387 #                         354
Name      BanetteMega Banette
Type 1                  Ghost
Type 2                    NaN
Name: 387, dtype: object
388 #             355
Name      Duskull
Type 1      Ghost
Type 2        NaN
Name: 388, dtype: object
389 #              356
Name      Dusclops
Type 1       Ghost
Type 2         NaN
Name: 389, dtype: object
390 #             357
Name      Tropius
Type 1      Grass
Type 2     Flying
Name: 390, dtype: object
391 #              358
Name      Chimecho
Type 1     Psychic
Type 2         NaN
Name: 391, dtype: object
392 #           359
Name      Absol
Type 1     Dark
Type 2      NaN
Name: 392, dtype: object
393 #                     359
Name      AbsolMega Absol
Type 1               Dark
Type 2                NaN
Name: 393, dtype: object
394 #             360
Name       Wynaut
Type 1    Psychic
Type 2        NaN
Name: 394, dtype: object
395 #             361
Name      Snorunt
Type 1        Ice
Type 2        NaN
Name: 395, dtype: object
396 #            362
Name      Glalie
Type 1       Ice
Type 2       NaN
Name: 396, dtype: object
397 #                       362
Name      GlalieMega Glalie
Type 1                  Ice
Type 2                  NaN
Name: 397, dtype: object
398 #            363
Name      Spheal
Type 1       Ice
Type 2     Water
Name: 398, dtype: object
399 #            364
Name      Sealeo
Type 1       Ice
Type 2     Water
Name: 399, dtype: object
400 #             365
Name      Walrein
Type 1        Ice
Type 2      Water
Name: 400, dtype: object
401 #              366
Name      Clamperl
Type 1       Water
Type 2         NaN
Name: 401, dtype: object
402 #             367
Name      Huntail
Type 1      Water
Type 2        NaN
Name: 402, dtype: object
403 #              368
Name      Gorebyss
Type 1       Water
Type 2         NaN
Name: 403, dtype: object
404 #               369
Name      Relicanth
Type 1        Water
Type 2         Rock
Name: 404, dtype: object
405 #             370
Name      Luvdisc
Type 1      Water
Type 2        NaN
Name: 405, dtype: object
406 #            371
Name       Bagon
Type 1    Dragon
Type 2       NaN
Name: 406, dtype: object
407 #             372
Name      Shelgon
Type 1     Dragon
Type 2        NaN
Name: 407, dtype: object
408 #               373
Name      Salamence
Type 1       Dragon
Type 2       Flying
Name: 408, dtype: object
409 #                             373
Name      SalamenceMega Salamence
Type 1                     Dragon
Type 2                     Flying
Name: 409, dtype: object
410 #             374
Name       Beldum
Type 1      Steel
Type 2    Psychic
Name: 410, dtype: object
411 #             375
Name       Metang
Type 1      Steel
Type 2    Psychic
Name: 411, dtype: object
412 #               376
Name      Metagross
Type 1        Steel
Type 2      Psychic
Name: 412, dtype: object
413 #                             376
Name      MetagrossMega Metagross
Type 1                      Steel
Type 2                    Psychic
Name: 413, dtype: object
414 #              377
Name      Regirock
Type 1        Rock
Type 2         NaN
Name: 414, dtype: object
415 #            378
Name      Regice
Type 1       Ice
Type 2       NaN
Name: 415, dtype: object
416 #               379
Name      Registeel
Type 1        Steel
Type 2          NaN
Name: 416, dtype: object
417 #             380
Name       Latias
Type 1     Dragon
Type 2    Psychic
Name: 417, dtype: object
418 #                       380
Name      LatiasMega Latias
Type 1               Dragon
Type 2              Psychic
Name: 418, dtype: object
419 #             381
Name       Latios
Type 1     Dragon
Type 2    Psychic
Name: 419, dtype: object
420 #                       381
Name      LatiosMega Latios
Type 1               Dragon
Type 2              Psychic
Name: 420, dtype: object
421 #            382
Name      Kyogre
Type 1     Water
Type 2       NaN
Name: 421, dtype: object
422 #                         382
Name      KyogrePrimal Kyogre
Type 1                  Water
Type 2                    NaN
Name: 422, dtype: object
423 #             383
Name      Groudon
Type 1     Ground
Type 2        NaN
Name: 423, dtype: object
424 #                           383
Name      GroudonPrimal Groudon
Type 1                   Ground
Type 2                     Fire
Name: 424, dtype: object
425 #              384
Name      Rayquaza
Type 1      Dragon
Type 2      Flying
Name: 425, dtype: object
426 #                           384
Name      RayquazaMega Rayquaza
Type 1                   Dragon
Type 2                   Flying
Name: 426, dtype: object
427 #             385
Name      Jirachi
Type 1      Steel
Type 2    Psychic
Name: 427, dtype: object
428 #                        386
Name      DeoxysNormal Forme
Type 1               Psychic
Type 2                   NaN
Name: 428, dtype: object
429 #                        386
Name      DeoxysAttack Forme
Type 1               Psychic
Type 2                   NaN
Name: 429, dtype: object
430 #                         386
Name      DeoxysDefense Forme
Type 1                Psychic
Type 2                    NaN
Name: 430, dtype: object
431 #                       386
Name      DeoxysSpeed Forme
Type 1              Psychic
Type 2                  NaN
Name: 431, dtype: object
432 #             387
Name      Turtwig
Type 1      Grass
Type 2        NaN
Name: 432, dtype: object
433 #            388
Name      Grotle
Type 1     Grass
Type 2       NaN
Name: 433, dtype: object
434 #              389
Name      Torterra
Type 1       Grass
Type 2      Ground
Name: 434, dtype: object
435 #              390
Name      Chimchar
Type 1        Fire
Type 2         NaN
Name: 435, dtype: object
436 #              391
Name      Monferno
Type 1        Fire
Type 2    Fighting
Name: 436, dtype: object
437 #               392
Name      Infernape
Type 1         Fire
Type 2     Fighting
Name: 437, dtype: object
438 #            393
Name      Piplup
Type 1     Water
Type 2       NaN
Name: 438, dtype: object
439 #              394
Name      Prinplup
Type 1       Water
Type 2         NaN
Name: 439, dtype: object
440 #              395
Name      Empoleon
Type 1       Water
Type 2       Steel
Name: 440, dtype: object
441 #            396
Name      Starly
Type 1    Normal
Type 2    Flying
Name: 441, dtype: object
442 #              397
Name      Staravia
Type 1      Normal
Type 2      Flying
Name: 442, dtype: object
443 #               398
Name      Staraptor
Type 1       Normal
Type 2       Flying
Name: 443, dtype: object
444 #            399
Name      Bidoof
Type 1    Normal
Type 2       NaN
Name: 444, dtype: object
445 #             400
Name      Bibarel
Type 1     Normal
Type 2      Water
Name: 445, dtype: object
446 #               401
Name      Kricketot
Type 1          Bug
Type 2          NaN
Name: 446, dtype: object
447 #                402
Name      Kricketune
Type 1           Bug
Type 2           NaN
Name: 447, dtype: object
448 #              403
Name         Shinx
Type 1    Electric
Type 2         NaN
Name: 448, dtype: object
449 #              404
Name         Luxio
Type 1    Electric
Type 2         NaN
Name: 449, dtype: object
450 #              405
Name        Luxray
Type 1    Electric
Type 2         NaN
Name: 450, dtype: object
451 #            406
Name       Budew
Type 1     Grass
Type 2    Poison
Name: 451, dtype: object
452 #              407
Name      Roserade
Type 1       Grass
Type 2      Poison
Name: 452, dtype: object
453 #              408
Name      Cranidos
Type 1        Rock
Type 2         NaN
Name: 453, dtype: object
454 #               409
Name      Rampardos
Type 1         Rock
Type 2          NaN
Name: 454, dtype: object
455 #              410
Name      Shieldon
Type 1        Rock
Type 2       Steel
Name: 455, dtype: object
456 #               411
Name      Bastiodon
Type 1         Rock
Type 2        Steel
Name: 456, dtype: object
457 #           412
Name      Burmy
Type 1      Bug
Type 2      NaN
Name: 457, dtype: object
458 #                         413
Name      WormadamPlant Cloak
Type 1                    Bug
Type 2                  Grass
Name: 458, dtype: object
459 #                         413
Name      WormadamSandy Cloak
Type 1                    Bug
Type 2                 Ground
Name: 459, dtype: object
460 #                         413

Name: 533, dtype: object
534 #                      479
Name      RotomFrost Rotom
Type 1            Electric
Type 2                 Ice
Name: 534, dtype: object
535 #                    479
Name      RotomFan Rotom
Type 1          Electric
Type 2            Flying
Name: 535, dtype: object
536 #                    479
Name      RotomMow Rotom
Type 1          Electric
Type 2             Grass
Name: 536, dtype: object
537 #             480
Name         Uxie
Type 1    Psychic
Type 2        NaN
Name: 537, dtype: object
538 #             481
Name      Mesprit
Type 1    Psychic
Type 2        NaN
Name: 538, dtype: object
539 #             482
Name        Azelf
Type 1    Psychic
Type 2        NaN
Name: 539, dtype: object
540 #            483
Name      Dialga
Type 1     Steel
Type 2    Dragon
Name: 540, dtype: object
541 #            484
Name      Palkia
Type 1     Water
Type 2    Dragon
Name: 541, dtype: object
542 #             485
Name      Heatran
Type 1       Fire
Type 2      Steel
Name: 542, dtype: object
543 #               486
Name      Regigigas
Type 1       Normal
Type 2          NaN
Name: 543, dtype: object
544 #                           487
Name      GiratinaAltered Forme
Type 1                    Ghost
Type 2                   Dragon
Name: 544, dtype: object
545 #                          487
Name      GiratinaOrigin Forme
Type 1                   Ghost
Type 2                  Dragon
Name: 545, dtype: object
546 #               488
Name      Cresselia
Type 1      Psychic
Type 2          NaN
Name: 546, dtype: object
547 #            489
Name      Phione
Type 1     Water
Type 2       NaN
Name: 547, dtype: object
548 #             490
Name      Manaphy
Type 1      Water
Type 2        NaN
Name: 548, dtype: object
549 #             491
Name      Darkrai
Type 1       Dark
Type 2        NaN
Name: 549, dtype: object
550 #                       492
Name      ShayminLand Forme
Type 1                Grass
Type 2                  NaN
Name: 550, dtype: object
551 #                      492
Name      ShayminSky Forme
Type 1               Grass
Type 2              Flying
Name: 551, dtype: object
552 #            493
Name      Arceus
Type 1    Normal
Type 2       NaN
Name: 552, dtype: object
553 #             494
Name      Victini
Type 1    Psychic
Type 2       Fire
Name: 553, dtype: object
554 #           495
Name      Snivy
Type 1    Grass
Type 2      NaN
Name: 554, dtype: object
555 #             496
Name      Servine
Type 1      Grass
Type 2        NaN
Name: 555, dtype: object
556 #               497
Name      Serperior
Type 1        Grass
Type 2          NaN
Name: 556, dtype: object
557 #           498
Name      Tepig
Type 1     Fire
Type 2      NaN
Name: 557, dtype: object
558 #              499
Name       Pignite
Type 1        Fire
Type 2    Fighting
Name: 558, dtype: object
559 #              500
Name        Emboar
Type 1        Fire
Type 2    Fighting
Name: 559, dtype: object
560 #              501
Name      Oshawott
Type 1       Water
Type 2         NaN
Name: 560, dtype: object
561 #            502
Name      Dewott
Type 1     Water
Type 2       NaN
Name: 561, dtype: object
562 #              503
Name      Samurott
Type 1       Water
Type 2         NaN
Name: 562, dtype: object
563 #            504
Name      Patrat
Type 1    Normal
Type 2       NaN
Name: 563, dtype: object
564 #             505
Name      Watchog
Type 1     Normal
Type 2        NaN
Name: 564, dtype: object
565 #              506
Name      Lillipup
Type 1      Normal
Type 2         NaN
Name: 565, dtype: object
566 #             507
Name      Herdier
Type 1     Normal
Type 2        NaN
Name: 566, dtype: object
567 #               508
Name      Stoutland
Type 1       Normal
Type 2          NaN
Name: 567, dtype: object
568 #              509
Name      Purrloin
Type 1        Dark
Type 2         NaN
Name: 568, dtype: object
569 #             510
Name      Liepard
Type 1       Dark
Type 2        NaN
Name: 569, dtype: object
570 #             511
Name      Pansage
Type 1      Grass
Type 2        NaN
Name: 570, dtype: object
571 #              512
Name      Simisage
Type 1       Grass
Type 2         NaN
Name: 571, dtype: object
572 #             513
Name      Pansear
Type 1       Fire
Type 2        NaN
Name: 572, dtype: object
573 #              514
Name      Simisear
Type 1        Fire
Type 2         NaN
Name: 573, dtype: object
574 #             515
Name      Panpour
Type 1      Water
Type 2        NaN
Name: 574, dtype: object
575 #              516
Name      Simipour
Type 1       Water
Type 2         NaN
Name: 575, dtype: object
576 #             517
Name        Munna
Type 1    Psychic
Type 2        NaN
Name: 576, dtype: object
577 #              518
Name      Musharna
Type 1     Psychic
Type 2         NaN
Name: 577, dtype: object
578 #            519
Name      Pidove
Type 1    Normal
Type 2    Flying
Name: 578, dtype: object
579 #               520
Name      Tranquill
Type 1       Normal
Type 2       Flying
Name: 579, dtype: object
580 #              521
Name      Unfezant
Type 1      Normal
Type 2      Flying
Name: 580, dtype: object
581 #              522
Name       Blitzle
Type 1    Electric
Type 2         NaN
Name: 581, dtype: object
582 #               523
Name      Zebstrika
Type 1     Electric
Type 2          NaN
Name: 582, dtype: object
583 #                524
Name      Roggenrola
Type 1          Rock
Type 2           NaN
Name: 583, dtype: object
584 #             525
Name      Boldore
Type 1       Rock
Type 2        NaN
Name: 584, dtype: object
585 #              526
Name      Gigalith
Type 1        Rock
Type 2         NaN
Name: 585, dtype: object
586 #             527
Name       Woobat
Type 1    Psychic
Type 2     Flying
Name: 586, dtype: object
587 #             528
Name      Swoobat
Type 1    Psychic
Type 2     Flying
Name: 587, dtype: object
588 #             529
Name      Drilbur
Type 1     Ground
Type 2        NaN
Name: 588, dtype: object
589 #               530
Name      Excadrill
Type 1       Ground
Type 2        Steel
Name: 589, dtype: object
590 #            531
Name      Audino
Type 1    Normal
Type 2       NaN
Name: 590, dtype: object
591 #                       531
Name      AudinoMega Audino
Type 1               Normal
Type 2                Fairy
Name: 591, dtype: object
592 #              532
Name       Timburr
Type 1    Fighting
Type 2         NaN
Name: 592, dtype: object
593 #              533
Name       Gurdurr
Type 1    Fighting
Type 2         NaN
Name: 593, dtype: object
594 #                534
Name      Conkeldurr
Type 1      Fighting
Type 2           NaN
Name: 594, dtype: object
595 #             535
Name      Tympole
Type 1      Water
Type 2        NaN
Name: 595, dtype: object
596 #               536
Name      Palpitoad
Type 1        Water
Type 2       Ground
Name: 596, dtype: object
597 #                537
Name      Seismitoad
Type 1         Water
Type 2        Ground
Name: 597, dtype: object
598 #              538
Name         Throh
Type 1    Fighting
Type 2         NaN
Name: 598, dtype: object
599 #              539
Name          Sawk
Type 1    Fighting
Type 2         NaN
Name: 599, dtype: object
600 #              540
Name      Sewaddle
Type 1         Bug
Type 2       Grass
Name: 600, dtype: object
601 #              541
Name      Swadloon
Type 1         Bug
Type 2       Grass
Name: 601, dtype: object
602 #              542
Name      Leavanny
Type 1         Bug
Type 2       Grass
Name: 602, dtype: object
603 #              543
Name      Venipede
Type 1         Bug
Type 2      Poison
Name: 603, dtype: object
604 #                544
Name      Whirlipede
Type 1           Bug
Type 2        Poison
Name: 604, dtype: object
605 #               545
Name      Scolipede
Type 1          Bug
Type 2       Poison
Name: 605, dtype: object
606 #              546
Name      Cottonee
Type 1       Grass
Type 2       Fairy
Name: 606, dtype: object
607 #                547
Name      Whimsicott
Type 1         Grass
Type 2         Fairy
Name: 607, dtype: object
608 #             548
Name      Petilil
Type 1      Grass
Type 2        NaN
Name: 608, dtype: object
609 #               549
Name      Lilligant
Type 1        Grass
Type 2          NaN
Name: 609, dtype: object
610 #              550
Name      Basculin
Type 1       Water
Type 2         NaN
Name: 610, dtype: object
611 #             551
Name      Sandile
Type 1     Ground
Type 2       Dark
Name: 611, dtype: object
612 #              552
Name      Krokorok
Type 1      Ground
Type 2        Dark
Name: 612, dtype: object
613 #                553
Name      Krookodile
Type 1        Ground
Type 2          Dark
Name: 613, dtype: object
614 #              554
Name      Darumaka
Type 1        Fire
Type 2         NaN
Name: 614, dtype: object
615 #                             555
Name      DarmanitanStandard Mode
Type 1                       Fire
Type 2                        NaN
Name: 615, dtype: object
616 #                        555
Name      DarmanitanZen Mode
Type 1                  Fire
Type 2               Psychic
Name: 616, dtype: object
617 #              556
Name      Maractus
Type 1       Grass
Type 2         NaN
Name: 617, dtype: object
618 #             557
Name      Dwebble
Type 1        Bug
Type 2       Rock
Name: 618, dtype: object
619 #             558
Name      Crustle
Type 1        Bug
Type 2       Rock
Name: 619, dtype: object
620 #              559
Name       Scraggy
Type 1        Dark
Type 2    Fighting
Name: 620, dtype: object
621 #              560
Name       Scrafty
Type 1        Dark
Type 2    Fighting
Name: 621, dtype: object
622 #              561
Name      Sigilyph
Type 1     Psychic
Type 2      Flying
Name: 622, dtype: object
623 #            562
Name      Yamask
Type 1     Ghost
Type 2       NaN
Name: 623, dtype: object
624 #                563
Name      Cofagrigus
Type 1         Ghost
Type 2           NaN
Name: 624, dtype: object
625 #              564
Name      Tirtouga
Type 1       Water
Type 2        Rock
Name: 625, dtype: object
626 #                565
Name      Carracosta
Type 1         Water
Type 2          Rock
Name: 626, dtype: object
627 #            566
Name      Archen
Type 1      Rock
Type 2    Flying
Name: 627, dtype: object
628 #              567
Name      Archeops
Type 1        Rock
Type 2      Flying
Name: 628, dtype: object
629 #              568
Name      Trubbish
Type 1      Poison
Type 2         NaN
Name: 629, dtype: object
630 #              569
Name      Garbodor
Type 1      Poison
Type 2         NaN
Name: 630, dtype: object
631 #           570
Name      Zorua
Type 1     Dark
Type 2      NaN
Name: 631, dtype: object
632 #             571
Name      Zoroark
Type 1       Dark
Type 2        NaN
Name: 632, dtype: object
633 #              572
Name      Minccino
Type 1      Normal
Type 2         NaN
Name: 633, dtype: object
634 #              573
Name      Cinccino
Type 1      Normal
Type 2         NaN
Name: 634, dtype: object
635 #             574
Name      Gothita
Type 1    Psychic
Type 2        NaN
Name: 635, dtype: object
636 #               575
Name      Gothorita
Type 1      Psychic
Type 2          NaN
Name: 636, dtype: object
637 #                576
Name      Gothitelle
Type 1       Psychic
Type 2           NaN
Name: 637, dtype: object
638 #             577
Name      Solosis
Type 1    Psychic
Type 2        NaN
Name: 638, dtype: object
639 #             578
Name      Duosion
Type 1    Psychic
Type 2        NaN
Name: 639, dtype: object
640 #               579
Name      Reuniclus
Type 1      Psychic
Type 2          NaN
Name: 640, dtype: object
641 #              580
Name      Ducklett
Type 1       Water
Type 2      Flying
Name: 641, dtype: object
642 #            581
Name      Swanna
Type 1     Water
Type 2    Flying
Name: 642, dtype: object
643 #               582
Name      Vanillite
Type 1          Ice
Type 2          NaN
Name: 643, dtype: object
644 #               583
Name      Vanillish
Type 1          Ice
Type 2          NaN
Name: 644, dtype: object
645 #               584
Name      Vanilluxe
Type 1          Ice
Type 2          NaN
Name: 645, dtype: object
646 #              585
Name      Deerling
Type 1      Normal
Type 2       Grass
Name: 646, dtype: object
647 #              586
Name      Sawsbuck
Type 1      Normal
Type 2       Grass
Name: 647, dtype: object
648 #              587
Name        Emolga
Type 1    Electric
Type 2      Flying
Name: 648, dtype: object
649 #                588
Name      Karrablast
Type 1           Bug
Type 2           NaN
Name: 649, dtype: object
650 #                589
Name      Escavalier
Type 1           Bug
Type 2         Steel
Name: 650, dtype: object
651 #             590
Name      Foongus
Type 1      Grass
Type 2     Poison
Name: 651, dtype: object
652 #               591
Name      Amoonguss
Type 1        Grass
Type 2       Poison
Name: 652, dtype: object
653 #              592
Name      Frillish
Type 1       Water
Type 2       Ghost
Name: 653, dtype: object
654 #               593
Name      Jellicent
Type 1        Water
Type 2        Ghost
Name: 654, dtype: object
655 #               594
Name      Alomomola
Type 1        Water
Type 2          NaN
Name: 655, dtype: object
656 #              595
Name        Joltik
Type 1         Bug
Type 2    Electric
Name: 656, dtype: object
657 #                596
Name      Galvantula
Type 1           Bug
Type 2      Electric
Name: 657, dtype: object
658 #               597
Name      Ferroseed
Type 1        Grass
Type 2        Steel
Name: 658, dtype: object
659 #                598
Name      Ferrothorn
Type 1         Grass
Type 2         Steel
Name: 659, dtype: object
660 #           599
Name      Klink
Type 1    Steel
Type 2      NaN
Name: 660, dtype: object
661 #           600
Name      Klang
Type 1    Steel
Type 2      NaN
Name: 661, dtype: object
662 #               601
Name      Klinklang
Type 1        Steel
Type 2          NaN
Name: 662, dtype: object
663 #              602
Name        Tynamo
Type 1    Electric
Type 2         NaN
Name: 663, dtype: object
664 #               603
Name      Eelektrik
Type 1     Electric
Type 2          NaN
Name: 664, dtype: object
665 #                604
Name      Eelektross
Type 1      Electric
Type 2           NaN
Name: 665, dtype: object
666 #             605
Name       Elgyem
Type 1    Psychic
Type 2        NaN
Name: 666, dtype: object
667 #              606
Name      Beheeyem
Type 1     Psychic
Type 2         NaN
Name: 667, dtype: object
668 #             607
Name      Litwick
Type 1      Ghost
Type 2       Fire
Name: 668, dtype: object
669 #             608
Name      Lampent
Type 1      Ghost
Type 2       Fire
Name: 669, dtype: object
670 #                609
Name      Chandelure
Type 1         Ghost
Type 2          Fire
Name: 670, dtype: object
671 #            610
Name        Axew
Type 1    Dragon
Type 2       NaN
Name: 671, dtype: object
672 #             611
Name      Fraxure
Type 1     Dragon
Type 2        NaN
Name: 672, dtype: object
673 #             612
Name      Haxorus
Type 1     Dragon
Type 2        NaN
Name: 673, dtype: object
674 #             613
Name      Cubchoo
Type 1        Ice
Type 2        NaN
Name: 674, dtype: object
675 #             614
Name      Beartic
Type 1        Ice
Type 2        NaN
Name: 675, dtype: object
676 #               615
Name      Cryogonal
Type 1          Ice
Type 2          NaN
Name: 676, dtype: object
677 #             616
Name      Shelmet
Type 1        Bug
Type 2        NaN
Name: 677, dtype: object
678 #              617
Name      Accelgor
Type 1         Bug
Type 2         NaN
Name: 678, dtype: object
679 #              618
Name      Stunfisk
Type 1      Ground
Type 2    Electric
Name: 679, dtype: object
680 #              619
Name       Mienfoo
Type 1    Fighting
Type 2         NaN
Name: 680, dtype: object
681 #              620
Name      Mienshao
Type 1    Fighting
Type 2         NaN
Name: 681, dtype: object
682 #               621
Name      Druddigon
Type 1       Dragon
Type 2          NaN
Name: 682, dtype: object
683 #            622
Name      Golett
Type 1    Ground
Type 2     Ghost
Name: 683, dtype: object
684 #            623
Name      Golurk
Type 1    Ground
Type 2     Ghost
Name: 684, dtype: object
685 #              624
Name      Pawniard
Type 1        Dark
Type 2       Steel
Name: 685, dtype: object
686 #             625
Name      Bisharp
Type 1       Dark
Type 2      Steel
Name: 686, dtype: object
687 #                626
Name      Bouffalant
Type 1        Normal
Type 2           NaN
Name: 687, dtype: object
688 #             627
Name      Rufflet
Type 1     Normal
Type 2     Flying
Name: 688, dtype: object
689 #              628
Name      Braviary
Type 1      Normal
Type 2      Flying
Name: 689, dtype: object
690 #             629
Name      Vullaby
Type 1       Dark
Type 2     Flying
Name: 690, dtype: object
691 #               630
Name      Mandibuzz
Type 1         Dark
Type 2       Flying
Name: 691, dtype: object
692 #             631
Name      Heatmor
Type 1       Fire
Type 2        NaN
Name: 692, dtype: object
693 #            632
Name      Durant
Type 1       Bug
Type 2     Steel
Name: 693, dtype: object
694 #            633
Name       Deino
Type 1      Dark
Type 2    Dragon
Name: 694, dtype: object
695 #              634
Name      Zweilous
Type 1        Dark
Type 2      Dragon
Name: 695, dtype: object
696 #               635
Name      Hydreigon
Type 1         Dark
Type 2       Dragon
Name: 696, dtype: object
697 #              636
Name      Larvesta
Type 1         Bug
Type 2        Fire
Name: 697, dtype: object
698 #               637
Name      Volcarona
Type 1          Bug
Type 2         Fire
Name: 698, dtype: object
699 #              638
Name      Cobalion
Type 1       Steel
Type 2    Fighting
Name: 699, dtype: object
700 #               639
Name      Terrakion
Type 1         Rock
Type 2     Fighting
Name: 700, dtype: object
701 #              640
Name      Virizion
Type 1       Grass
Type 2    Fighting
Name: 701, dtype: object
702 #                             641
Name      TornadusIncarnate Forme
Type 1                     Flying
Type 2                        NaN
Name: 702, dtype: object
703 #                           641
Name      TornadusTherian Forme
Type 1                   Flying
Type 2                      NaN
Name: 703, dtype: object
704 #                              642
Name      ThundurusIncarnate Forme
Type 1                    Electric
Type 2                      Flying
Name: 704, dtype: object
705 #                            642
Name      ThundurusTherian Forme
Type 1                  Electric
Type 2                    Flying
Name: 705, dtype: object
706 #              643
Name      Reshiram
Type 1      Dragon
Type 2        Fire
Name: 706, dtype: object
707 #              644
Name        Zekrom
Type 1      Dragon
Type 2    Electric
Name: 707, dtype: object
708 #                             645
Name      LandorusIncarnate Forme
Type 1                     Ground
Type 2                     Flying
Name: 708, dtype: object
709 #                           645
Name      LandorusTherian Forme
Type 1                   Ground
Type 2                   Flying
Name: 709, dtype: object
710 #            646
Name      Kyurem
Type 1    Dragon
Type 2       Ice
Name: 710, dtype: object
711 #                        646
Name      KyuremBlack Kyurem
Type 1                Dragon
Type 2                   Ice
Name: 711, dtype: object
712 #                        646
Name      KyuremWhite Kyurem
Type 1                Dragon
Type 2                   Ice
Name: 712, dtype: object
713 #                          647
Name      KeldeoOrdinary Forme
Type 1                   Water
Type 2                Fighting
Name: 713, dtype: object
714 #                          647
Name      KeldeoResolute Forme
Type 1                   Water
Type 2                Fighting
Name: 714, dtype: object
715 #                        648
Name      MeloettaAria Forme
Type 1                Normal
Type 2               Psychic
Name: 715, dtype: object
716 #                             648

In [51]:
## reading data which qualify certain conditions(conditonal statements on rows)
print(df.loc[df['Legendary'] == True])
print('-'*100)
print(df.loc[df['Type 2'] == 'Flying'])

       #                 Name    Type 1  ... Speed  Generation  Legendary
156  144             Articuno       Ice  ...    85           1       True
157  145               Zapdos  Electric  ...   100           1       True
158  146              Moltres      Fire  ...    90           1       True
162  150               Mewtwo   Psychic  ...   130           1       True
163  150  MewtwoMega Mewtwo X   Psychic  ...   130           1       True
..   ...                  ...       ...  ...   ...         ...        ...
795  719              Diancie      Rock  ...    50           6       True
796  719  DiancieMega Diancie      Rock  ...   110           6       True
797  720  HoopaHoopa Confined   Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound   Psychic  ...    80           6       True
799  721            Volcanion      Fire  ...    70           6       True

[65 rows x 12 columns]
----------------------------------------------------------------------------------------------------
       #                       Name    Type 1  ... Speed  Generation  Legendary
6      6                  Charizard      Fire  ...   100           1      False
8      6  CharizardMega Charizard Y      Fire  ...   100           1      False
15    12                 Butterfree       Bug  ...    70           1      False
20    16                     Pidgey    Normal  ...    56           1      False
21    17                  Pidgeotto    Normal  ...    71           1      False
..   ...                        ...       ...  ...   ...         ...        ...
730  662                Fletchinder      Fire  ...    84           6      False
731  663                 Talonflame      Fire  ...   126           6      False
734  666                   Vivillon       Bug  ...    89           6      False
771  701                   Hawlucha  Fighting  ...   118           6      False
793  717                    Yveltal      Dark  ...    99           6       True

[97 rows x 12 columns]

# sorting/describing the data

In [52]:
# describe the data
df.describe()

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

In [53]:
df.sort_values(['Type 1' , 'HP'], ascending=[ 0, 0])

       #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
351  321    Wailord  Water     NaN  ...       45     60           3      False
655  594  Alomomola  Water     NaN  ...       45     65           5      False
142  131     Lapras  Water     Ice  ...       95     60           1      False
145  134   Vaporeon  Water     NaN  ...       95     65           1      False
350  320    Wailmer  Water     NaN  ...       35     60           3      False
..   ...        ...    ...     ...  ...      ...    ...         ...        ...
314  290    Nincada    Bug  Ground  ...       30     40           3      False
462  415     Combee    Bug  Flying  ...       42     70           4      False
603  543   Venipede    Bug  Poison  ...       39     57           5      False
230  213    Shuckle    Bug    Rock  ...      230      5           2      False
316  292   Shedinja    Bug   Ghost  ...       30     40           3      False

[800 rows x 12 columns]

# making changes to my data

In [58]:
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
#df.head()

#df = df.drop(columns=['Total'])
#df.head()

df['Total'] = df.iloc[:, 4:10].sum(axis=1)
df.head()

#arrange columns in desired position
cols = list(df.columns)
print(cols)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]   #to address columns it is better to call for the index rather than \
#hard-coding numbers
df.head()

['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']

   #                   Name Type 1  Type 2  ...  Sp. Atk  Sp. Def  Speed  Generation
0  1              Bulbasaur  Grass  Poison  ...       65       65     45           1
1  2                Ivysaur  Grass  Poison  ...       80       80     60           1
2  3               Venusaur  Grass  Poison  ...      100      100     80           1
3  3  VenusaurMega Venusaur  Grass  Poison  ...      122      120     80           1
4  4             Charmander   Fire     NaN  ...       60       50     65           1

[5 rows x 13 columns]

# saving our data to a csv

In [61]:
df.to_csv('modified_pokemon.csv', index=False)

df.to_csv('modified_pokemon.txt', index=False, sep='\t')

# filering data

In [69]:
#df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] >= 70)]
import re

print(df.loc[df['Type 1'].str.contains('electric', flags=re.I, regex=True)])
print('-'*100)
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

       #                      Name    Type 1  ... Sp. Def  Speed  Generation
30    25                   Pikachu  Electric  ...      50     90           1
31    26                    Raichu  Electric  ...      80    110           1
88    81                 Magnemite  Electric  ...      55     45           1
89    82                  Magneton  Electric  ...      70     70           1
108  100                   Voltorb  Electric  ...      55    100           1
109  101                 Electrode  Electric  ...      80    140           1
134  125                Electabuzz  Electric  ...      85    105           1
146  135                   Jolteon  Electric  ...      95    130           1
157  145                    Zapdos  Electric  ...      90    100           1
186  172                     Pichu  Electric  ...      35     60           2
193  179                    Mareep  Electric  ...      45     35           2
194  180                   Flaaffy  Electric  ...      60     45           2
195  181                  Ampharos  Electric  ...      90     55           2
196  181     AmpharosMega Ampharos  Electric  ...     110     45           2
258  239                    Elekid  Electric  ...      55     95           2
262  243                    Raikou  Electric  ...     100    115           2
337  309                 Electrike  Electric  ...      40     65           3
338  310                 Manectric  Electric  ...      60    105           3
339  310   ManectricMega Manectric  Electric  ...      80    135           3
340  311                    Plusle  Electric  ...      75     95           3
341  312                     Minun  Electric  ...      85     95           3
448  403                     Shinx  Electric  ...      34     45           4
449  404                     Luxio  Electric  ...      49     60           4
450  405                    Luxray  Electric  ...      79     70           4
464  417                 Pachirisu  Electric  ...      90     95           4
513  462                 Magnezone  Electric  ...      90     60           4
517  466                Electivire  Electric  ...      85     95           4
531  479                     Rotom  Electric  ...      77     91           4
532  479           RotomHeat Rotom  Electric  ...     107     86           4
533  479           RotomWash Rotom  Electric  ...     107     86           4
534  479          RotomFrost Rotom  Electric  ...     107     86           4
535  479            RotomFan Rotom  Electric  ...     107     86           4
536  479            RotomMow Rotom  Electric  ...     107     86           4
581  522                   Blitzle  Electric  ...      32     76           5
582  523                 Zebstrika  Electric  ...      63    116           5
648  587                    Emolga  Electric  ...      60    103           5
663  602                    Tynamo  Electric  ...      40     60           5
664  603                 Eelektrik  Electric  ...      70     40           5
665  604                Eelektross  Electric  ...      80     50           5
704  642  ThundurusIncarnate Forme  Electric  ...      80    111           5
705  642    ThundurusTherian Forme  Electric  ...      80    101           5
764  694                Helioptile  Electric  ...      43     70           6
765  695                 Heliolisk  Electric  ...      94    109           6
772  702                   Dedenne  Electric  ...      67    101           6

[44 rows x 13 columns]
----------------------------------------------------------------------------------------------------

       #                 Name    Type 1  ... Sp. Def  Speed  Generation
20    16               Pidgey    Normal  ...      35     56           1
21    17            Pidgeotto    Normal  ...      50     71           1
22    18              Pidgeot    Normal  ...      70    101           1
23    18  PidgeotMega Pidgeot    Normal  ...      80    121           1
30    25              Pikachu  Electric  ...      50     90           1
136  127               Pinsir       Bug  ...      70     85           1
137  127    PinsirMega Pinsir       Bug  ...      90    105           1
186  172                Pichu  Electric  ...      35     60           2
219  204               Pineco       Bug  ...      35     15           2
239  221            Piloswine       Ice  ...      60     50           2
438  393               Piplup     Water  ...      56     40           4
558  499              Pignite      Fire  ...      55     55           5
578  519               Pidove    Normal  ...      30     43           5

[13 rows x 13 columns]

# conditional changes

In [73]:
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'katon'
df
df.loc[df['Type 1'] == 'katon', 'Type 1'] = 'Fire'
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True
df

       #                   Name   Type 1  ... Sp. Def  Speed  Generation
0      1              Bulbasaur    Grass  ...      65     45           1
1      2                Ivysaur    Grass  ...      80     60           1
2      3               Venusaur    Grass  ...     100     80           1
3      3  VenusaurMega Venusaur    Grass  ...     120     80           1
4      4             Charmander     Fire  ...      50     65           1
..   ...                    ...      ...  ...     ...    ...         ...
795  719                Diancie     Rock  ...     150     50           6
796  719    DiancieMega Diancie     Rock  ...     110    110           6
797  720    HoopaHoopa Confined  Psychic  ...     130     70           6
798  720     HoopaHoopa Unbound  Psychic  ...     130     80           6
799  721              Volcanion     Fire  ...      90     70           6

[800 rows x 13 columns]

In [74]:
df = pd.read_csv('modified_pokemon.csv')
df

       #                   Name   Type 1  ... Sp. Def  Speed  Generation
0      1              Bulbasaur    Grass  ...      65     45           1
1      2                Ivysaur    Grass  ...      80     60           1
2      3               Venusaur    Grass  ...     100     80           1
3      3  VenusaurMega Venusaur    Grass  ...     120     80           1
4      4             Charmander     Fire  ...      50     65           1
..   ...                    ...      ...  ...     ...    ...         ...
795  719                Diancie     Rock  ...     150     50           6
796  719    DiancieMega Diancie     Rock  ...     110    110           6
797  720    HoopaHoopa Confined  Psychic  ...     130     70           6
798  720     HoopaHoopa Unbound  Psychic  ...     130     80           6
799  721              Volcanion     Fire  ...      90     70           6

[800 rows x 13 columns]

In [80]:
df = pd.read_csv('modified_pokemon.csv')
df.loc[df['Total'] > 600, ['Generation', 'Legendary']] = ['high', 'AF']
df

       #                   Name   Type 1  ... Sp. Def Speed  Generation
0      1              Bulbasaur    Grass  ...      65    45           1
1      2                Ivysaur    Grass  ...      80    60        high
2      3               Venusaur    Grass  ...     100    80        high
3      3  VenusaurMega Venusaur    Grass  ...     120    80        high
4      4             Charmander     Fire  ...      50    65           1
..   ...                    ...      ...  ...     ...   ...         ...
795  719                Diancie     Rock  ...     150    50        high
796  719    DiancieMega Diancie     Rock  ...     110   110        high
797  720    HoopaHoopa Confined  Psychic  ...     130    70        high
798  720     HoopaHoopa Unbound  Psychic  ...     130    80        high
799  721              Volcanion     Fire  ...      90    70        high

[800 rows x 13 columns]

In [98]:
df = pd.read_csv('modified_pokemon.csv')
# groupby ----- mean(), sum(), count()
#df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)
df.groupby(['Type 1']).mean()
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

df.groupby(['Type 1']).sum()

df.groupby(['Type 1']).count()

df['count'] = 1

df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

# working with large datasets

In [106]:
new_df = pd.DataFrame()
#new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified_pokemon.csv', chunksize=5):
    results = df.groupby(['Type 1' , 'Type 2']).count()
    
    new_df = pd.concat([new_df, results])

new_df

                #  Name  Legendary  Total  ...  Sp. Atk  Sp. Def  Speed  Generation
Type 1  Type 2                             ...
Grass   Poison  4     4          4      4  ...        4        4      4           4
Fire    Dragon  1     1          1      1  ...        1        1      1           1
        Flying  2     2          2      2  ...        2        2      2           2
Bug     Flying  1     1          1      1  ...        1        1      1           1
        Poison  4     4          4      4  ...        4        4      4           4
...            ..   ...        ...    ...  ...      ...      ...    ...         ...
Flying  Dragon  2     2          2      2  ...        2        2      2           2
Fire    Water   1     1          1      1  ...        1        1      1           1
Psychic Dark    1     1          1      1  ...        1        1      1           1
        Ghost   1     1          1      1  ...        1        1      1           1
Rock    Fairy   2     2          2      2  ...        2        2      2           2

[274 rows x 11 columns]